*.iml
.gradle
/local.properties
/.idea/caches
/.idea/misc.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/studiobot.xml
/.idea/runConfigurations.xml
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/
