# Default ignored files
/shelf/
/workspace.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
/compiler.xml
/deploymentTargetDropDown.xml
/inspectionProfiles/Project_Default.xml
/kotlinc.xml
/render.experimental.xml
